.pacgum-spacewrapper {
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pacgum {
  border-radius:50%;
}

.N {
  width: 5px;
  height: 5px;
  background:#FFFFFF;
}

.S {
  width: 12px;
  height: 12px;
  background:#FFFFAA;
  animation: pacgum-animation 5s linear infinite;
}

@keyframes pacgum-animation {
  from {
    background:#FFFFAA;
  }
  50% {
    background:#FFAAAA;
  }
  to {
    background:#FFFFAA;
  }
}
